// app global css in SCSS form
body {
  background-color: #f5f6f9; /* light gray */
  overflow: hidden;
}
.q-card {
  box-shadow: none;
}

.q-btn {
  border-radius: 16px;
}

.q-btn__content {
  text-transform: none;
}
